@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html lang="en">
    <div class="text-center">
        <hr></hr>
        <div id="slider">
            <h1><b>APP</b>Empleados</h1>
            <a href=./Empleados/Index class="btn-white">Empleados</a>
    </div>
    </div>